header {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

/* Small Screens (Mobile) */
@media (max-width: 991px) {
    header {
        flex-direction: column;
    }
}