/* Large screen by default */

h1, h2 {
  font-family: 'Times New Roman', serif;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(auto, 1200px) minmax(100px, 1fr);
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  background-color: #f8f5e4;
  font-family: 'Palatino Linotype', sans-serif;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #333;
}

.container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 30px 0;
}

.content-wrapper {
  display: grid;
}

/* Medium Screens (Tablets) */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 900px) minmax(20px, 1fr);
  }

  .content-wrapper {
    grid-template-columns: 1fr;
  }

  nav ul {
    gap: 20px;
  }

  .author {
    justify-items: center;
  }
}

/* Small Screens (Mobile) */
@media (max-width: 991px) {
  body {
    grid-template-columns: 10px 1fr 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0;
  }

  .content-wrapper {
    grid-template-columns: 1fr;
  }

  .author {
    text-align: center;
  }

  .author img {
    width: 90px;
    height: 120px;
    justify-self: center;
  }
}

